*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.menu-bar{
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: transparent;
    transition: all 0.3s ease;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li{
    width: 150px;
    margin: 15px;
    padding: 15px;
    transition: all 0.5s ease;
    
}
.menu-bar ul li:hover{
    color: black;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}
.menu-bar.show{
    opacity: 1;
    background-color: rgb(137, 88, 49);
}